@{
    ViewBag.Title = "Register";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg p-4" style="width: 30rem;">
        <h2 class="text-center">Register</h2>

        @model OnlineLearningSystem.Models.User

        @if (ViewBag.AlreadyRegistered != null)
        {
            <div class="alert alert-danger text-center">
                @ViewBag.AlreadyRegistered
            </div>
            <div class="text-center">
                <a href="@Url.Action("Login", "Account")" class="btn btn-primary">Already have an account? Login here</a>
            </div>
        }
        else
        {
            using (Html.BeginForm(new { @class = "" }))
            {
                <div class="mb-3">
                    <label class="form-label">Name:</label>
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", required = "required" })
                </div>

                <div class="mb-3">
                    <label class="form-label">Email:</label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", required = "required" })
                </div>

                <div class="mb-3">
                    <label class="form-label">Password:</label>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", required = "required" })
                </div>

                <div class="mb-3">
                    <label class="form-label">Role:</label>
                    @Html.DropDownListFor(m => m.Role, new SelectList(new[] { "Student", "Faculty" }), new { @class = "form-select" })
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-success">Register</button>
                </div>
            }

            <div class="text-center mt-3">
                <p>Or register with</p>
                <a href="#" class="btn btn-light border me-2">
                    <img src="https://img.icons8.com/color/20/000000/google-logo.png" alt="Google"> Google
                </a>
                <a href="#" class="btn btn-light border">
                    <img src="https://img.icons8.com/fluency/20/000000/facebook-new.png" alt="Facebook"> Facebook
                </a>
            </div>

            <div class="text-center mt-3">
                <p>Already have an account? <a href="@Url.Action("Login", "Account")">Login here</a></p>
            </div>
        }
    </div>
</div>
